




<div class="container">

  <div class="row">

    <div class="col-md-offset-4 col-md-4 text-center">

      <p class="title">Task details</p>

        <p>Task-name: <%= @task.name %></p>
        <p>Done: <%= @task.status %></p>

      <p><%= link_to "View task list", tasks_index_path, class: "btn btn-primary text-margin" %></p>

    </div>

  </div>

</div>
